test_project_4/src/main/mule/test_project_4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="edeef140-6196-4d56-9e07-aca835c7651e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test_project_4Flow" doc:id="6db99aa1-2395-4120-992d-f587a194a58e" >
		<http:listener doc:name="Listener" doc:id="ec816b5a-85bb-46ee-a35f-eeb4226bd904" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Hello1"]' doc:name="Set Payload" doc:id="b4ac1ac2-5581-49dc-ac6f-1009777ac145" />
	</flow>
</mule>
